body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}
.main-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    max-height: 700px;
    display: flex;
}
.welcome-section {
background: linear-gradient(135deg, #2842b6, #752da5);
color: white;
 padding: 250px 210px;
    height: 680px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

flex: 1;           
min-height: 100%;   
min-width: 300px;   
box-sizing: border-box;
}

.menu-section {
padding: 40px;
flex: 2;
min-width: 350px;
box-sizing: border-box;
}


/* CHAT */
.chat-box {
background: #f8f9fa;
padding: 15px;
border-radius: 12px;
height: 300px;
min-width: 600px;
overflow-y: auto;
border-left: 4px solid #2842b6;
border-bottom: 4px solid #2842b6;
}
.chat-input {
margin-top: 80px;
}
.chat-input input {
width: 100%;
padding: 12px;
border-radius: 12px;
border: 1px solid #ccc;
}
.chat-input button {
width: 100%;
margin-top: 10px;
background: linear-gradient(135deg, #2842b6, #752da5);
border: none;
color: white;
padding: 12px;
border-radius: 12px;
}


.social-title {
font-family: 'cubic';
text-align: center;
margin-bottom: 20px;
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }
    
    .main-card {
        width: 100%;
        border-radius: 15px;
    }
    
    .welcome-section {
        padding: 30px 15px;
        min-height: 250px;
    }
    
    .menu-section {
        padding: 20px;
    }
    
    .menu-btn {
        padding: 12px 20px;
    }
}
@media (min-width: 992px) {
    .welcome-section {
        padding: 60px;
    }
    
    .menu-section {
        padding: 50px;
    }
}
@media (min-width: 768px) {
    .main-card {
        flex-direction: row;
    }
    
    .welcome-section {
        flex: 1;
        min-height: 500px;
        padding: 40px;
    }
    
    .menu-section {
        flex: 1;
        padding: 40px;
    }
}

/* Telas grandes */
@media (min-width: 992px) {
    .welcome-section {
        padding: 60px;
    }
    
    .menu-section {
        padding: 50px;
    }
}

